/* Variables */
$bs-blue: #3a8fd9;
$bs-indigo: #6610f2;
$bs-purple: #686dc3;
$bs-pink: #e83283;
$bs-red: #fc346f;
$bs-orange: #fd7e14;
$bs-yellow: #ffc107;
$bs-green: #41d7a7;
$bs-teal: #528fb3;
$bs-cyan: #39cbfb;
$color-not-to-white: #F0F0F0;
$color-not-to-black: #242526;
$color-black: #000000;
$color-white: #ffffff;